@import "~bootstrap";
@import "login";
@import "navbar";

$primary-color: #6e8a9c;
body {
    background-color: $primary-color;
    font-family: "Roboto", Helvetica, Arial, sans-serif;

}
a{
    color: white;
}
