.header {
  height: 50px;
  background-color: rgba(100, 100, 220, .5);
  padding: 20px;
  transition: .4s;
}

.height {
  height: 300px;
}

div {
  cursor: pointer;
  width: 30px;
  height: fit-content;
}

span {
  background-color: black;
  width: 25px;
  height: 2.5px;
  margin: 8px 0;
  display: block;
  transition: .4s;
}

span:nth-of-type(2) {
  width: 20px;
}

span:nth-of-type(3) {
  width: 30px;
}

div:hover span {
  width: 15px;
}

.closeTop {
  transform-origin: top left;
  transform: rotate(45deg);
  width: 30px;
}

.visible {
  opacity: 0;
}

.closeBottom {
  transform-origin: bottom left;
  transform: rotate(-45deg);
  width: 30px;
}