{% extends 'templates/base.html.twig' %}

{% block title %}All articles{% endblock %}

{% block body %}
    <h1>Résultat = {{ category.name }} </h1>

    {% for article in articles %}
        <h2>{{ article.title }}</h2> <br>
        <p>{{ article.content }}</p> <br>


    {% endfor %}

    <a href="/blog">
        Retour à la page d'accueil
    </a>
{% endblock %}