{% extends 'templates/base.html.twig' %}

{% block title %}All articles{% endblock %}

{% block body %}

    <h2>Ajouter une catégorie</h2>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}



{% endblock %}