{% extends 'templates/base.html.twig' %}

{% block body %}

    <h1>Listes des articles du tag : {{ tags.name }}</h1>

                {% for article in articles %}
                    <ul>
                        <li>{{ article.title}}</li>
                   </ul>
                {% endfor %}

{% endblock %}
