{% extends 'templates/base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block body %}
    <h1>Editer l'Article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}



    <a href="{{ path('article_index') }}" class= "btn btn-secondary">Retour à la liste</a>

{% endblock %}
